<%- include ../header.ejs %>
	<table style="width:100%" border="0">
	<tr style="height:50px">
		<td>
		</td>
	</tr>
	

	</table>
	<table style="width:100%" border="0">
		<tr>
			<td style="width:20%">
				<div class="text_column1position">
					<a href = "/qapage"><button type="button" class="btn btn-primary" style="width:180px">QA</button><br>
					<br>
					<a href = "workflow"><button type="button" class="btn btn-primary" style="width:180px">WorkFlow</button></a><br><br>
					<button type="button" class="btn btn-primary" style="width:180px">DBMS</button><br>
					<br>
				</div>
			</td>
			<td>
				<form action="/qahome" method="post" >	

			 	<label>Select Program:</label>		
				<select name="programs">
					<%for(i=0;i< faculty.length;i++){%>					
					  <option value='<%= faculty[i].program_name %>'><%= faculty[i].program_name%></option>
					<%}%>	  
				</select>
				<label>Select Year:</label>
				<select name="years">
				  <option value="2014">2014</option>
				  <option value="2015">2015</option>
				  <option value="2016">2016</option>
				  <option value="2017">2017</option>
				</select>

				<input type="submit" class="btnLogin" value="Search" tabindex="1">
			 </form>
			</td>
			<!--<td>
				<div class = "text_column2position">
					<center>
						<a href ="/workflowExecution" >Execute workflow</a> 
					</center>
					<br>
					<center>
						<a href ="/workflowCreation">Create workflow</a>
					</center>
				</div>
			</td>-->
		</tr>
	</table>		
	
<!--<%= faculty.length %>-->
 
 

	
<%- include ../footer.ejs %>