<%- include ../header_table.ejs %>
	<table style="width:100%" border="0">
	<tr style="height:50px">
		<td>
		</td>
	</tr>
	</table>
	<table style="width:90%" border="0">
		<tr>
			<td style="width:20%">
				<div class="text_column1position">
					<a href = "/tqfhome?program=<%= programname %>&year=<%= year %>"><button type="button" class="btn btn-primary" style="width:180px">TQF</button><br><br>
					<a href = "#"><button type="button" class="btn btn-primary" style="width:180px">CUPT-QA</button></a><br><br>
					<a href = "#"><button type="button" class="btn btn-primary" style="width:180px">Gen.tex file</button><br><br>
										
				</div>
			</td>
			<td>
				<div class="datagrid">
				<table>
					<thead>
						<tr>
							<th>No.</th>
							<th>Title</th>
							<th>Name-Surname</th>
							<th>Education Level</th>
							<th>Degree</th>
							<th>University</th>
							<th>Year</th>								
						</tr>
					</thead>
					<!--<tfoot>
						<tr><td colspan="4">
						<div id="paging">
							<ul><li>
								<a href="#"><span>Previous</span></a></li>
								<li><a href="#" class="active"><span>1</span></a></li>
								<li><a href="#"><span>2</span></a></li>
								<li><a href="#"><span>3</span></a></li>
								<li><a href="#"><span>4</span></a></li>
								<li><a href="#"><span>5</span></a></li>
								<li><a href="#"><span>Next</span></a></li>
							</ul>
						</div></tr>
					</tfoot>-->
					<tbody>
						<!--{% if trackresults %}-->
						     <% var i,j;
								for(i=0;i< clients.length;i++){
									for(j=0;j<clients[i].education.length;j++){%>
									<tr>
									   
									   <% if(j==0) {%>
									   <td><%= i+1%></td>
									   <td><%= clients[i].local.title %></td>
									   <td><%= clients[i].local.name %></td>
									   <%} else {%>
									   <td></td>
									   <td></td>
									   <td></td>
									   <%}%>
									   <td><%= clients[i].education[j].level %></td>
									   <td><%= clients[i].education[j].degree %></td>
									   <td><%= clients[i].education[j].university %></td>
									   <td><%= clients[i].education[j].year %></td>
									</tr>
								<%}
								}%>
							<!--{% endfor %}-->
					</tbody>
				</table>
			</div>	
			</td>
		</tr>
	</table>			
	
<%- include ../footer.ejs %>