<%- include ../header_table.ejs %>
	
	<table style="width:100%" border="0">
	<tr style="height:50px">
		<td>
		</td>
	</tr>
	</table>
	<table style="width:90%" border="0">
		<tr>
			<td style="width:20%">
				<div class="text_column1position">
					<a href = "/tqfhome?program=<%= programname %>&year=<%= year %>"><button type="button" class="btn btn-primary" style="width:180px">TQF</button><br><br>
					<a href = "#"><button type="button" class="btn btn-primary" style="width:180px">CUPT-QA</button></a><br><br>
					<a href = "#"><button type="button" class="btn btn-primary" style="width:180px">Gen.tex file</button><br><br>
										
				</div>
			</td>
			<td>
				<% if(program != null){%>
					<div class="datagrid">
						<strong>Semester 1/Academic Year</strong>: <%= program.academic_year %><br>
							<table name ="semes1">
								<thead>
									<tr>
										<th>Code</th>
										<th>Subject</th>
										<th>Credits</th>
										<th>Lecturers</th>
									</tr>
								</thead>
								<tbody>
								<!--{% if trackresults %}-->
								     <% var i,j;
										for(i=0;i< program.subject.length;i++){%>								
											<tr>								   
											   <% if(program.subject[i].sub_semes==1) {%>
											   <td><%= program.subject[i].sub_code %></td>
											   <td><%= program.subject[i].sub_name %></td>
											   <td><%= program.subject[i].sub_credit %></td>
											   <td><%= program.subject[i].sub_lecter %></td>
											   <%}%>
											</tr>
										<%}%>
										
									<!--{% endfor %}-->
								</tbody>
							</table>
							<strong>Semester 2/Academic Year</strong>: <%= program.academic_year %><br>
							<table name ="semes2">
									<thead>
										<tr>
											<th>Code</th>
											<th>Subject</th>
											<th>Credits</th>
											<th>Lecturers</th>
										</tr>
									</thead>
									<tbody>
									<!--{% if trackresults %}-->
									     <% var i,j;
											for(i=0;i< program.subject.length;i++){%>								
												<tr>								   
												   <% if(program.subject[i].sub_semes==2) {%>
												   <td><%= program.subject[i].sub_code %></td>
												   <td><%= program.subject[i].sub_name %></td>
												   <td><%= program.subject[i].sub_credit %></td>
												   <td><%= program.subject[i].sub_lecter %></td>
												   <%}%>
												</tr>
											<%}%>
										
										<!--{% endfor %}-->

								</table>
							
						</div>
				<%}else{%>
					<strong>No program</strong> 
				<%} %>			
			</td>
		</tr>
	</table>			
	

	
<%- include ../footer.ejs %>