<%- include header_table.ejs %>
		<!--<%= user.education %>-->
	
	<div class="datagrid">
				<table>
					<thead>
						<tr>
							<th>Number</th>
							<th>Level</th>
							<th>Degree</th>
							<th>University</th>
							<th>Year</th>
							<th>Edit</th>
							<th>Delete</th>
							
							
						</tr>
					</thead>
					<!--<tfoot>
						<tr><td colspan="4">
						<div id="paging">
							<ul><li>
								<a href="#"><span>Previous</span></a></li>
								<li><a href="#" class="active"><span>1</span></a></li>
								<li><a href="#"><span>2</span></a></li>
								<li><a href="#"><span>3</span></a></li>
								<li><a href="#"><span>4</span></a></li>
								<li><a href="#"><span>5</span></a></li>
								<li><a href="#"><span>Next</span></a></li>
							</ul>
						</div></tr>
					</tfoot>-->
					<tbody>

						<!--{% if trackresults %}-->
							<%  var i;
								for(i=0;i<user.education.length;i++){ %>
						    <tr>
							   <td><%= i+1 %></td>
							   <td><%= user.education[i].level %></td>
							   <td><%= user.education[i].degree %></td>
							   <td><%= user.education[i].university %></td>
							   <td><%= user.education[i].year %></td>
							   <td><a href='/editedu?id=<%= i %>'>edit</a></td>
							   <td><a href='/deledu?id=<%= user.education[i]._id %>&email=<%= user.local.email %>'>delete</a></td>
							</tr>
							<%}%>
							<!--{% endfor %}-->
					</tbody>
				</table>
			</div>
			<button class="btn btn-default"><a href = "/addedu">ADD</button><br/></a>

<%- include footer.ejs %>