<!-- {{ user.local.title }}
{{	user }}
{{	user.education 	}} -->



<div class="datagrid">
				<table>
					<thead>
						<tr>
							<th>Number</th>
							<th>Level</th>
							<th>Degree</th>
							<th>University</th>
							<th>Year</th>
							<th>Edit</th>
							<th>Delete</th>
							
							
						</tr>
					</thead>
					<!--<tfoot>
						<tr><td colspan="4">
						<div id="paging">
							<ul><li>
								<a href="#"><span>Previous</span></a></li>
								<li><a href="#" class="active"><span>1</span></a></li>
								<li><a href="#"><span>2</span></a></li>
								<li><a href="#"><span>3</span></a></li>
								<li><a href="#"><span>4</span></a></li>
								<li><a href="#"><span>5</span></a></li>
								<li><a href="#"><span>Next</span></a></li>
							</ul>
						</div></tr>
					</tfoot>-->
					<tbody>

						{{#each user.education}}
					    <tr>
						   <td>{{inc @index}}</td>
						   <td>{{level}}</td>
						   <td>{{degree}}</td>
						   <td>{{university}}</td>
						   <td>{{year}}</td>
						   <td><a href='/editeducation?id={{@index}}'>edit</a></td>
						   <td><a href='/deledu?id={{_id}}&email={{ user.local.email }}'>delete</a></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<button class="btn btn-default"><a href = "/addedu">ADD</button><br/></a>
